$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "interior";


//colors
$color_apple_approx: rgb(244,67,54);
$white: #fff;
$black_87: rgba(0, 0, 0, 0.87);
$color_sunflower_approx: #FFF176;
$black: black;
$color_boulder_approx: #767777;
$color_steel: #B0BEC5;
$color_tuna_approx: #EF5350;
$color_alto_approx: #dcdcdc;
$color_concrete_approx: #f3f3f3;
$color_limed_spruce_approx: #37474f;
$color_caribbean_green_approx: #00bfa5;
$alabaster: #fafafa;
$color_red_as_hell: #F44336;
$color_clouds: #F2F4F5;
$color_off_black: #5D5D5D;

//fonts
$font_0: Roboto, Helvetica, Arial, sans-serif;

$mono: Roboto Mono;

//urls
$url_0: url(../images/slide01.jpg);
$url_building: url(../images/building.jpg);
$url_2: url(../images/bottom-bg.jpg);
$url_3: url(../images/footer-bg.png);

body {
  margin: 0;
  font-weight: 300;
}

canvas {}
a {text-decoration: none !important;}
a:hover {
  text-decoration: none !important;
  color: lightgray;
}

a.btnOutline-products {
    display: inline-block;
    margin: 0;
    padding: 18px 38px 17px;
    white-space: nowrap;
    border: 2px solid $color_red_as_hell;
    border-radius: 30px 30px;
    font: normal 16px/16px 'Foundry Sterling W02b',Helvetica,Arial,sans-serif;
    color: $color_red_as_hell;
    text-transform: uppercase;
    transition: 0.3s;
}

a.btnOutline-products:hover {
    background: $color_red_as_hell;
    color: #fff;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

h2 {font-family:$font_0;}

h3, h4, h5 {
  font-family: $mono, sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
}


::-moz-selection {
  background-color: $color_apple_approx;
  color: $white;
}
::selection {
  background-color: $color_apple_approx;
  color: $white;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nct-search-box {
  display: none !important;
  order: 2;
  padding: 8px 0 !important;
  @media screen and (min-width:900px) {
  padding-top: 12px !important;
  }
  margin-left: 16px;
  margin-right: 16px;
  .mdl-textfield__input {
    color: $black_87;
  }
  &.is-focused + .nct-navigation-container {
    opacity: 0;
    width: 100px;
  }
}
.nct-header {
  position: fixed;
  overflow: visible;
  background-color: $white !important;
  .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
  }
  .material-icons {
    color: $color_boulder_approx !important;
  }
  .mdl-layout__drawer-button {
    background: transparent;
    color: $color_boulder_approx;
  }
  .mdl-navigation__link {
    color: $color_steel !important;
    font-weight: 700;
    font-size: 14px;
  }
  .nct-search-box .mdl-textfield .mdl-button {
    bottom: 15px !important;
  }
  .mobile-menu {display:none;}
  @media screen and (max-width:900px) {
    .mobile-menu {display:block;}
  }
}

#spiders {position:absolute;top:0;left:0;width:100%;max-width:100%}

.mdl-textfield--expandable {
  width: auto;
}
.nct-fab {
  position: relative !important;
  margin: 0 auto;
  margin-top: 4rem !important;
  @media screen and (max-width:900px) {
    margin-top:2rem !important;

  }
  z-index: 3;
  background: rgba(158,158,158,0.2) !important;
  color: white !important;
  border: 3px solid white !important;
  &:hover {
    background: rgba(255,255,255,1) !important;
    color: $color_tuna_approx !important;
  }
}
.nct-mobile-title {
  display: none !important;
}
.nct-logo-image {
  height: auto;
  width: 110px;
}

#mobile-logo {margin:0;color:black;padding-left:1rem;display:none;font-family:'Roboto', Helvetica, Arial, sans-serif;font-weight:500;font-size:1.5em;color:$color_tuna_approx;}

.nct-navigation-container {
  direction: rtl;
  order: 1;
  width: 500px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.nct-navigation {
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
  .mdl-navigation__link {
    font-family: $mono;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    line-height: 68px;
    padding: 0 20px !important;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
    &:hover {
      border-bottom: 4px solid $color_tuna_approx;
      text-decoration: none !important;
      font-weight: 700;
    }
  }
}
.nct-more-button {
  order: 3;
}

.nct-drawer {
  border-right: none;
  .mdl-layout-title {
    position: relative;
    background: $color_apple_approx;
    height: 160px;
  }
  .nct-logo-image {
    position: absolute;
    bottom: 16px;
    left: 15px;
    width: 80%;
    display: block;
  }
  .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: $color_steel;
    &:hover {
      background: $color_red_as_hell;
      color:white;
    }
  }
  span.mdl-navigation__link.mdl-navigation__link {
    color: $color_steel;
  }
  form.ng-pristine.ng-valid {
    width: 100%;
    padding:16px;
  }
  .mdl-navigation {display:block;}

  #main-links a {
    font-weight: bold;
    text-decoration: none;\
    &:hover {
      background: $color_clouds;
    }
  }
  .mdl-textfield__label, .mdl-textfield__input {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .mdl-textfield__label {
    text-align: left;
  }

}
.nct-drawer-separator {
  height: 1px;
  background-color: $color_alto_approx;
  margin: 8px 0;
}

#newsletter {
  p {
    padding:15px 0 15px 15px;    
    font-size: 14px;
    color: #B0BEC5;
  }
  margin-bottom:0;
  background:$color_clouds;
}

.mdl-layout {
  opacity: 0;
  transition: opacity 0.7s;
}

.mdl-layout-loaded {opacity: 1;}

.nct-hero {
  position: relative;
  height: auto;
  width: auto;
  background: url(../images/hero-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.logo-font {
  font-family: $font_0;
  line-height: 1;
  color: white;
  font-weight: 500;
}
.nct-slogan {
  font-size: 60px;
  padding-top: 33vh;
}
.nct-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}
.nct-create-character {
  font-size: 21px;
  padding-top: 400px;
  a {
    text-decoration: none;
    color: $color_boulder_approx;
    font-weight: 300;
  }
}

#home-middle-section {
    padding-top: 2.5vh;
    min-height: 100vh;
    margin-bottom: 0;
    #home-second-heading {
      padding-top:4rem;
      @media screen and (max-width:480px) {
        margin-bottom:0;
      }
        h2 {
          font-family: $font_0;
          font-weight: 700;
          line-height:100%;
          font-size: 1.1em;
          letter-spacing: 0.15em;
          color: $color_off_black;
          margin-bottom: 1.5rem;
          @media screen and (max-width:970px) {text-align: left;}
        }
        h4 {color:$color_off_black;}
        hr {width: 5%;margin: 24px auto;border-top: solid $color_tuna_approx 3px;}
        p {font-size:3vw;font-weight:100;color:$color_off_black;line-height:1.5em;
            @media screen and (max-width:970px) {
                font-size: 2em;
                text-align: left;
            }
        }
    }
    .boxes {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
      padding-top:3rem;
      margin-bottom: 7.5rem;
      h2 {font-size:1.5em;margin-bottom:0;}
      hr {width: 5%;border-top: solid $color_tuna_approx 3px;margin-top:0;}
      p {font-size:1.25em;font-weight:100;line-height:2em;}
      .box {
        display: flex;
        flex-direction: column;
        min-height: 400px;
          .container {padding:2rem;}
          background: #E9EAEA;
          @media screen and (max-width:970px) {min-width:100%;}
          @media screen and (max-width:480px) {img {height:300px;}}
      }
    }
    #home-feature-preview {padding-top:0.5rem;padding-bottom:0.5rem;}
     .solution-preview {
        
        p {font-weight:100;}
        img {display:none;}
       

        h4 {margin-bottom:4px;}
          
      }
  a.btn-large {margin-top:1rem; transition:0.3s;i {transition:0.3s;} &:hover {background:$color_red_as_hell !important;color:white;}}
}


.nct-advantages {
  background-image: linear-gradient(to right,rgba(254,60,22,1),rgba(254,60,22,0.85),rgba(0,0,0,0.3));
  .parallax img {left:65% !important;}
  .parallax-container {height:100%;}
  height:100vh;
  @media screen and (max-width:480px) { 
      background-image: linear-gradient(to right,rgba(254,60,22,1),rgba(254,60,22,0.85),rgba(254,60,22,0.85));
  }

  .row {
    padding-top:20vh;
    @media screen and (max-width:480px) {
      padding-top:20vh;
      h1 {line-height:1.5em;font-size:2.213em;}
    }
    color:white;
      h1 {line-height:1.2em;}
      p {
        font-size: 1.25em;
        font-weight: 100;
        line-height: 2em;
      }
  }
  .nct-fab {
    margin-top: 0 !important;
    position: absolute !important;
    z-index: 9999 !important;
    right: 20% !important;
    margin-top: -47px !important;
    background: white !important;
    opacity: 1 !important;
    color: $color_tuna_approx !important;
    border-color: $color_tuna_approx !important;
  }
}

#our-products {     
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
  .products {
    text-align: left;
    color: white;
    h1 {
      font-size: 80px;
      color: $color_red_as_hell;
      font-weight: 700;
      line-height: 1em !important;
    }
    @media screen and (max-width:900px) {
      .nct-screen {max-width:12vw;}

    }
    @media screen and (max-width:480px) {
      text-align:center;
      padding:0;
      margin:0 auto; 
    }
  }

  .vendors {
        display: none;
        position: absolute;
        right: 0;
        top: 12%;
        background: $color_red_as_hell;
        color: white;
        border-radius:10px 0 0 10px;
        p {background:$color_red_as_hell;color:white;width:100%;border-radius: 10px 0 0 0;border-bottom:2px solid white;}
        ul {padding: 3rem;}
    }
    .product-row {
      padding-top:5rem;
          a {color:black;}
          img {max-width:100%;}
          h5 {
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 0;
          color: $color_tuna_approx;
          width: 30px;
          height: 30px;
          line-height: 0px;
          border-radius:5px;
          margin-top: -40px;
          letter-spacing: 4px;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          opacity: 0;
          z-index: 3;
          -webkit-backface-visibility: hidden;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
          -moz-transition: opacity 0.3s, -moz-transform 0.4s;
          transition: opacity 0.3s, transform 0.4s;
          -webkit-transform: translateY(12px);
          -moz-transform: translateY(12px);
          transform: translateY(12px);
          }
          i {font-size:40px;}
          p {font-weight:700;}
          img, h5 {
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
          }
          a:hover  {
            h5 {
              opacity: 1;
              -moz-transition: all 0.3s ease-in 0.1s;
              -o-transition: all 0.3s ease-in 0.1s;
              transition: all 0.3s ease-in 0.1s;
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              transform: translateY(5px) scale(1);
              }
            img {
              webkit-filter: opacity(.2);
              filter: opacity(.2);}
          }

    }
}


.nct-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.nct-screen {
  text-align: center;
    @media screen and (max-width:480px) {
        display: block !important;
        margin: 0 auto !important;
        text-align: center;
        padding: 2rem 0;
    }
  .nct-link {
    margin-top: 16px;
    display: block;
    z-index: 2;
    font-family: $mono;
  }
}
.nct-image-link {
  text-decoration: none;
}
.nct-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
  .nct-screen-image {
    width: 40%;
    z-index: 1;
  }
}
.nct-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
  .nct-screen-image {
    width: 100%;
    z-index: 1;
  }
}
.nct-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
  .nct-screen-image {
    width: 100%;
    z-index: 1;
  }
  .nct-link {
    display: block;
    z-index: 2;
  }
}
.nct-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
  .nct-screen-image {
    width: 100%;
    z-index: 1;
  }
}
.nct-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  .nct-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }
  @media screen and (max-width:480px) {
    margin-left: 150px !important;
  }
}


.nct-wear-section {
  position: relative;
  overflow: auto;
}

.nct-cyber {
  min-height: 95vh;
  .parallax-container {height:95vh;} 
  .row {
    padding-top:20vh;
    color:white;
    h2 {font-size:40px;margin-bottom:5px;}
    p {font-size:20px;}
    #cyber-text {
      background: rgba(255,55,47,0);
      hr {width:33px;color:white;border-top:3px solid white;text-align: left;margin:5px 0 10px 0;}
    }
  }
}

.nct-wear-band {
  position: relative;
  width: 100%;
  min-height: 50vh;
  text-align: center;
  background-color: $color_tuna_approx;
  a:hover {text-decoration:underline !important;color:white !important;}
}
.nct-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: $white;
  p {
    padding-top: 8px;
  }
}
.nct-link {
  text-decoration: none;
  color: $color_tuna_approx !important;
  &:hover {
    color: $color_tuna_approx !important;
    text-decoration: none;
  }
  .material-icons {
    position: relative;
    top: 6px;
  }
}
.nct-alt-link {
  text-decoration: none;
  color: $color_sunflower_approx !important;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
  .material-icons {
    position: relative;
    top: 6px;
  }
}
.nct-customized-section {
  text-align: center;
}
.nct-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 50px;
  p {
    padding-top: 16px;
  }
}
.nct-customized-section-image {
  background: $url_3 center no-repeat;
  background-size: cover;
  height: 300px;
  display: none;
}
.nct-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
  .nct-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }
}
.nct-card-container {
  .mdl-card__media {
    overflow: hidden;
    background: transparent;
    img {
      width: 100%;
    }
  }
  .mdl-card__title {
    background: transparent;
    height: auto;
  }
  .mdl-card__title-text {
    color: $black;
    height: auto;
  }
  .mdl-card__supporting-text {
    height: auto;
    color: $black;
    padding-bottom: 48px;
  }
  .mdl-card__actions {
    position: absolute;
    bottom: 0;
    a {
      border-top: none;
      line-height: 32px;
      font-size: 16px;
    }
  }
}


.outro {
  min-height: 90vh;
  text-align: center;
    ul li {
      display:inline;
      list-style: none;
    }
      img {
        max-width: 100px;
      }
  h2 {
          font-family: $font_0;
          text-transform: uppercase;
          font-weight: 700;
          line-height:100%;
          font-size: 1.1em;
          letter-spacing: 0.15em;
          color: $color_off_black;
          margin-bottom: 1.5rem;
  }
  h3 {font-size:35px;}
  p {font-size:3.5vw;}
  .row:first-child {padding-top:15vh;}
}

#contact {
  min-height: 40vh; 
  background-color: $color_clouds;
  margin-bottom: 0;
  text-align: left;
  transition: .5s;
  box-shadow:0 0 0 0 rgba(255,0,0,0.5) inset; 
   -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    transition: all 0.5s linear;  .container {padding-top:12vh;}
  .button {transition: .5s;padding:1.5rem 2rem;background:transparent;text-transform:uppercase;color:black; &:hover {background:$color_sunflower_approx;color:$color_tuna_approx !important;}}
  &:hover {
    box-shadow:1800px 0 0 0px rgba(244,67,54,0.9) inset;
    color: white;
    .button {border:3px solid $color_sunflower_approx;color:white;}
    .mdl-typography--display-1-color-contrast {opacity: 1;}
  }
  @media screen and (min-width: 768px) {
    .col-md-6:last-child {
      padding-top: 1.5rem;
    }
  }
  @media screen and (max-width:991px) {
    .container {padding-top:2vh;}
    .col-md-6 {text-align:center;margin:2rem 0;}
    .col-md-6:first-child {padding-bottom:1rem;}
  }
}


.nct-footer {
  background-color: #616161 !important;
  position: relative;
  color: white !important;
  .row {margin-bottom:0;}
  p {font-size:13px;line-height:1em;margin-bottom:0;font-weight:400 !important;}
  a {color:white;}
  .mdl-mega-footer {padding:10px !important;}

  .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }
  .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }
  .mdl-mega-footer--bottom-section {

    position: relative;
    a {
      color: white;
      margin-right: 2em;
    }
  }
  a:hover {
    color: gray;
  }
  .footer-left {

      @media screen and (max-width:768px) {
        margin: 0 auto;
        text-align: center;
      }
  }
  .footer-center  {
    margin: 0 auto;
    text-align: center;
      ul li {
      display:inline-block;
      img {
        max-width: 4em;
      }
    }

  }

  .footer-right {
    float: right;
    text-align: right;
    margin-top: -5px;
    @media screen and (max-width:768px) {
      width: 100%;
      display: inline-block;
      float: none;
      text-align: center;
      margin:0 auto;
      .social {
        display: inline-block;
      } 
    }
  }
  .footer-right a .material-icons {
    position: relative;
    top: 6px;
  }
  .footer-right a.social i {
      font-size: 24px;
      color: white;
      &:hover  {
        cursor: pointer;
        color: lightgray;
      }
  }
}


.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  transform: translateY(-25%) rotateX(35deg);
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  transform: translateY(25%) rotateX(-35deg);
}



@media(max-width: 900px) {
  .nct-navigation-container {
    display: none;
  }
  .nct-title {
    display: none !important;
  }
  .nct-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nct-logo-image {display: none;}
  #mobile-logo {display:block;}
  .nct-search-box {
    &.is-focused {
      width: calc(100% - 48px);
      + .nct-navigation-container + .nct-mobile-title {
        opacity: 0;
      }
    }
    .mdl-textfield__expandable-holder {
      width: 100%;
      padding-top:8px;
    }
  }
  .nct-more-button {
    display: none;
  }
  .nct-hero {
    height: 350px;
  }
  .nct-slogan {
    font-size: 50px;
    margin: 0 16px;
    padding-top: 30vh;
  }
  .nct-sub-slogan {
    font-size: 20px;
    margin: 0 16px;
    padding-top: 8px;
  }
  .nct-create-character {
    padding-top: 200px;
    font-size: 16px;
    img {
      height: 12px;
    }
  }
  .nct-fab {
    display: none;
  }
  .nct-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }
  .nct.nct-search-box.is-focused ~ .nct-mobile-title {
    opacity: 0;
  }
  .nct-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

a img {
  border: 0;
}
.nct-link-menu:hover {
  cursor: pointer;
}

label#search-icon  {
}

button {
  opacity: 0.93;
  color: white;
  &:hover {
    opacity: 1;
  }
}



@media screen and (max-width:480px) {
  .nct-slogan {
    font-size: 40px;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.animation { opacity:0; transition:all 200ms ease-in-out; }

.animation.fade-in { opacity:1; }
.top-nav-collapse {
  padding:20px;
  background:none;
  @media (min-width: 768px) {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: none;
  }
}


